.contacts-filter
	position: relative
	margin: 0 auto
	padding: 18px 0
	width: 82%


	&__input
		position: relative
		width: 100%
		padding: 8px 6px
		border: 1px solid #fff
		font-size: 0.8rem

	&__close
		position: absolute
		right: 5px
		top: 14px
		font-size: 2rem
		color: #555555
		cursor: pointer

	&_empty &__close
		display: none
