.userpic
	display: inline-block
	vertical-align: top
	position: relative

	&--dialog
		vertical-align: top

.user-status--online
	position: absolute
	right: 3px
	bottom: 7px
	display: block
	width: 4px
	height: 4px
	box-sizing: content-box
	border: 1px solid white
	border-radius: 50%
	background-color: #00a651
	font-size: 0
