.contacts__add
	display: flex
	height: 70px
	align-items: center;
	padding: 40px

	&:hover
		background: #ddd
		cursor: pointer

.contacts__add-icon
	color: #ff494b
	font-size: 38px
	margin-right: 15px

.contacts__add-text
	font-size: 13px
