@import '~components/mixins';

.contacts-add
	position: relative

	&__form
		display: none
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		padding: 5px 15px 0 15px
		background: #FFF
		text-align: left

		h6
			margin-bottom: 5px
			font-size: 0.9rem

		input
			display: inline-block
			font-size: 1rem
			margin-right: 5px
			padding: 5px 10px

		button
			height: 32px
			padding: 0 5px
			@include default-button-theme()

		.close
			position: absolute
			right: 5px
			top: 5px
			font-size: 2rem
			line-height: 0.5
			cursor: pointer

	&.is-active &__form
		display: block

	&__button
		display: flex
		height: 70px
		align-items: center;
		padding: 40px

		&:hover
			background: #ddd
			cursor: pointer

	&__icon
		color: #ff494b
		font-size: 38px
		margin-right: 15px

	&__text
		font-size: 13px
