.header
	width: 100%
	height: 80px
	background: #ff494b
	padding: 5px

	&__logo
		display: inline-block
		font-size: 30px
		color: #FFF

	&__settings-link
		float: right

	&__settings
		position: absolute
		width: 300px
		height: 300px
		padding: 150px

