.header
	width: 100%
	background: #ff494b
	padding: 15px 50px

	&__logo
		display: inline-block
		vertical-align: middle
		width: 145px
		height: 30px
		font-size: 0
		background: url(./img/logo.png) no-repeat 50%

	&__logout-link
		display: inline-block
		vertical-align: middle
		float: right
		color: #eee
		font-size: 18px
		line-height: 30px
		font-weight: 300
		text-decoration: none
