extends ./layouts/default
block head
	- pageTitle = 'Чатик'
block content
	#app
		script(src="http://yastatic.net/jquery/2.1.4/jquery.min.js")
		p
			| Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.
		form.form-horizontal.login-form(name='login-form')
			.form-group
				label.col-lg-2.control-label(for='input-username') Имя
				.col-lg-10
					input#input-username.form-control(name='username', value='lukas', type='text', placeholder='Имя')
			.form-group
				label.col-lg-2.control-label(for='input-password') Пароль
				.col-lg-10
					input#input-password.form-control(name='password', value='kosha123', type='password', placeholder='Пароль')
			.form-group
				.col-lg-offset-2.col-lg-10
					button.btn.btn-primary(type='submit', data-loading-text='Отправляю...') Войти
					span.help-block.error
		a(href='/login-fb') Facebook login
		a(href='/login-vk') Login VK
		script.
			$(document.forms['login-form']).on('submit', function (e) {
				e.preventDefault();
				var form = $(this);
				$('.error', form).html('');
				$.ajax({
					url: '/login',
					method: 'post',
					data: form.serialize(),
					complete: function () {
						//$(':submit', form).button('reset');
					},
					statusCode: {
						200: function () {
							form.html("Вы вошли в сайт").addClass('alert-success');
							window.location.href = '/';
						},
						403: function (jqXHR) {
							var error = JSON.parse(jqXHR.responseText);
							$('.error', form).html(error.message);
						}
					}
				});
			})

