.dialog-message
	margin-bottom: 15px
	padding: 0

	&__sender
		margin-bottom: 5px
		color: #888

	&__content
		position: relative
		display: inline-block
		vertical-align: top
		width: 70%
		margin: 0 2%

	&__text
		display: inline-block
		vertical-align: top

	&__time
		position: absolute
		right: 0
		top: 0
		font-size: 0.75rem

	&--short
		margin-left: 50px
