.dialog-message
	width: 100%
	margin-bottom: 25px

	&__content
		display: inline-block
		vertical-align: top
		width: 80%
		padding-left: 12px
		font-size: 0

	&__sender
		font-size: 14px
		font-weight: 700

	&__text
		font-size: 13px

	&__time
		display: inline-block
		vertical-align: middle
		width: 10%
		text-align: right
		font-size: 11px

	&--short
		margin-left: 50px
