@import '~components/mixins';

.dialog-message
	width: 100%
	@include default-markdown-styles()

	.dialog-message + &_long
		margin-top: 25px

	&_short
		margin-top: 10px
		padding-left: 50px

	&__inner
		position: relative

	&__content
		display: inline-block
		width: calc(100% - 50px)
		padding: 0 50px 0 12px

	&__sender
		font-size: 14px
		font-weight: 700

	&__text
		font-size: 13px

	&__time
		position: absolute
		right: 10px
		top: 5px
		font-size: 11px
