.dialog-input
	position: relative
	width: 100%
	height: 130px
	font-size: 0

	&__textarea
		width: calc(100% - 60px);
		height: 70px
		margin: 0 0 10px 10px
		padding: 5px
		resize: none
		outline: 0
		box-shadow: none;
		border: 2px solid #cccccc

		&:focus
			outline: none

	&__add-button
		display: none
		position: absolute
		top: 0
		right: 10px
		font-size: 25px
		color: #aaa
		font-weight: 700
		text-decoration: none

	&__send-button
		display: block
		width: 90px
		height: 30px
		margin: 0 0 0 auto
		border: none
		font-size: 15px
		background-color: #ff4a4a
		color: #fff
		font-weight: 300
		cursor: pointer
