.channel
	display: flex
	padding: 10px 30px
	text-decoration: none

	&-wrap
		position: relative
		list-style: none
		background: #eee

	&-wrap--active
		list-style: none
		position: relative
		background: #ddd

	&-wrap--active:before
		content: ""
		height: 100%
		width: 7px
		position: absolute
		z-index: 10
		top: 0
		left: 0
		width: 7px
		background: #ff494b

	&__image-wrap
		width: 50px
		height: 50px
		margin-right: 20px
		background: #ff494b

	&__image
		width: 50px
		height: 50px
		background: #ff494b


	&__message
		margin-top: 5px
		width: 220px
		overflow: hidden

		&-header
			margin-top: 2px
			color: #333
			font-weight: bold
			text-align: left

		&-content
			margin-top: 5px
			font-size: 13px
			color: #555
			text-align: left

	&__time
		color: #888
		font-size: 12px
