.channel
	position: relative
	width: 100%
	margin-bottom: 7px
	padding: 10px 15px
	background: #eee
	text-decoration: none
	cursor: pointer
	text-align: left

	&__image-wrap
		display: inline-block
		width: 50px
		height: 50px
		margin-right: 10px
		background: #ff494b
		vertical-align: top

	&__image
		display: block
		width: 50px
		height: 50px
		background: #ff494b

	&__message
		display: inline-block
		width: 220px
		overflow: hidden
		vertical-align: top

		&-header
			color: #333
			font-weight: bold
			text-align: left

		&-content
			width: 100%
			margin-top: 5px
			font-size: 0.8rem
			color: #555
			overflow: hidden
			text-overflow: ellipsis

	&__time
		position: absolute
		top: 5px
		right: 5px
		color: #888
		font-size: 12px
		vertical-align: top

	&__active-label
		position: absolute
		top: 0
		left: 0
		z-index: 10
		width: 7px
		height: 100%
		background: #ff494b
