.dialog
	padding-top: 80px

.messages-container
	padding-top: 80px
	height: calc(100vh - 275px)
	overflow: auto
	position: relative

.messages-container__button
	position: absolute
	top: -50px
	background: none
	z-index: -1
	left: 50%
	line-height: 0px
	height: 0
	opacity: 0
	margin-left: -100px
	display: block
	font-size: 14px
	background-color: #ff494b
	color: #fff
	border: none
	cursor: pointer
	width: 200px

	&--show
		opacity: 1
		top: 10px
		z-index: 1
		height: 30px
		line-height: 30px
		transition: all 1s ease
