.dialog
	padding-top: 70px

.messages-container
	height: calc(100vh - 275px)
	padding-top: 30px
	padding-bottom: 10px
	overflow: auto
	position: relative
	transition: all 0.4s ease 0.2s

	&--show
		.messages-container__button
			top: 15px
			z-index: 1
			height: 30px
			opacity: 1

		.messages-container__start-line
			top: 55px
			opacity: 0

	&__button
		position: absolute
		top: -50px
		background: none
		z-index: -1
		left: 50%
		line-height: 0px
		height: 0px
		line-height: 0px
		margin-left: -100px
		display: block
		font-size: 14px
		background-color: #ff494b
		color: #fff
		border: none
		cursor: pointer
		width: 200px
		opacity: 0
		transition: all 0.7s ease

	&__start-line
		display: block
		position: absolute
		top: 25px
		left: 30%
		z-index -1
		width: 40%
		height: 1px
		border: none
		background-color: #8e8e8e
		opacity: 1
		transition: all 0.7s ease
