.user-detail
  font-size: 0

  &__item
    display: inline-block
    vertical-align: middle
    width: 20%
    font-size: 16px

  &__number
    display: block
    font-size: 28px

  &__menu-link
    display: inline-block
    vertical-align: middle
    font-size: 0
    width: 10px
    height: 10px
    border: 2px solid black
    transform: rotate(45deg)
