.chat-input
	position: fixed
	bottom: 0
	width: 100%
	background-color: #EEE
	box-shadow: 0 0 5px #000
	font-size: 0
	padding: 15px
	text-align: center

	&__self-image
		display: inline-block
		vertical-align: top

	&__text-area
		width: 90%
		height: 80px
		border: none
		box-sizing: border-box
		resize: none

		&:focus
			outline: 0

	&__send-button
		display: inline-block
		width: 90px
		height: 30px
		border: none
		margin: 10px 0
		cursor: pointer
		outline: 0
		text-transform: uppercase
