.contacts__search
	display: flex
	padding: 10px 30px

	&-input
		// margin-right: 10px
		padding: 0px 10px
		// width: 220px
		height: 25px
		border: none

	&-button
		background: #ddd
		border: none
		height: 25px
		width: 40px
		padding: 0 4px
		// font-size: 1.2rem
		text-transform: uppercase
