extends ./layouts/default
block head
	- pageTitle = 'Чатик'
block content
	.chat-rooms
	.chat-room
	a(href='/logout') Logout
	.chat-wrapper
		include ./blocks/chat-window
		include ./blocks/chat-input
	script(src="http://yastatic.net/jquery/2.1.4/jquery.min.js")
	script(src="socket.io/socket.io.js")
	script(src="js/main.js")
